
<%-include('../partials/header') %> 
<%-include('../partials/filepond') %> 
<%-include('../partials/nav') %> 

<form class="mt-3 mb-5 w-75 mx-auto py-5 px-2 book-form" method="post" action="/books/add">
    <h3 class="text-success my-2">Add New Book</h3>
    <%- include('./_form_fields') %> 
    <div class="w-25 mx-auto">
      <button type="submit" class="btn btn-success my-2 btn-lg">Add Book</button>
  
    </div>
    

  </form>

<%-include('../partials/footer') %> 
<script defer src="/js/fileUpload.js"></script>

 